<div class="container">
    <header>
        <div id="menu-trigger" class="menu">
            <div class="icon-item"><i class="ri-menu-line"></i></div>
        </div>

        <div class="meniu-coborator">
            <div class="menu">
                <div class="icon-item"><i class="ri-close-line"></i></div>
            </div>

            <ul class="options">
                <li><a href="/index.php">Home</a></li>
                <li><a href="/newmenu.php">Menu</a></li>
                <li><a href="/cart.php">MyCart</a></li>
                <li><a href="/gallery.php">Gallery</a></li>
                <li><a href="/space.php">Seating Availability</a></li>

            </ul>
        </div>

        <div class="brand">
            <h5><span>&lt;code&gt;</span> brew</h5>
        </div>
        <div class="actions">

            <a href="/cart.php" class="icon-item">
                <i class="ri-shopping-bag-line"></i>
            </a>
        </div>

    </header>
</div>