@font-face {
  color: #17391b;
  font-family: 'Poppins';
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2);
}

* {
  font-family: 'Poppins';
  font-style: normal;

  /* border: 1px solid red !important; */
}

:root {
  --white: #f8fef0;
  --primary: #17391b;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  width: 900px;
}
