@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
p{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 20px;
    align-items: center;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    justify-content: space-around; 
}
 /* .gallery{
    display: flex;
    flex-wrap: wrap;
    background-color: #c4d7c0;
    align-items: center;
    flex-direction: row;
    display:inline-flex;
    justify-content: space-around;    
} */
.container .gallery{
    
    background-color: #c4d7c0;
    display:inline-flex;
    justify-content: space-around;  
    flex-wrap: wrap;
    
}
.container .gallery2{
    background-color: #c4d7c0;
    justify-content: space-around;
    flex-wrap: wrap;
    display:inline-flex;
}
.container .gallery img {
   
    width:250px;
    height: 300px;
    margin: 30px;
  }
  .container .gallery2 img{
    width:250px;
    height: 300px;
    margin:  30px 45px;

  }