html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

ul {
  list-style: none;
}

p,
div,
h5 {
  font-family: 'Poppins';
  font-style: normal;
}

/* #region Footer */

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer ul {
  margin: 0;
  padding: 0;
}

.footer-section {
  height: 100%;
  flex-direction: column;
}

.footer-section .logo {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 30px;
}

.footer-section .logo .text {
  color: var(--white);
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 4;
  color: #17391b;
  text-align: center;
}

.footer-section .content {
  font-size: 15px;
  color: var(--white);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.footer-section .title {
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
  }
}

/* #endregion */

/* #region Default Header*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 80px;
}

.icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  cursor: pointer;
  transition: var(--transition);
}
.icon-item:hover {
  background: rgba(0, 0, 0, 0.07);
}

.icon-item i {
  font-size: 22px;
}

.brand h5 {
  padding: 0;
  margin: 0;
  line-height: 38px;
  font-weight: 600;
  font-size: 25px;
  color: #17391b;
}

.actions {
  display: flex;
}

.meniu-coborator {
  width: 300px;
  background: #fff;
  position: absolute;

  display: none;
  transition: var(--transition);
  padding-bottom: 30px;
}

.meniu-coborator .menu {
  height: 80px;
  display: flex;
  align-items: center;
}

.options {
  padding: 0;
  margin: 0;
}

.options li {
  padding: 5px 15px;
  transform: var(--transition);
}
.options li:hover {
  background: rgba(0, 0, 0, 0.07);
}

.options .active {
  color: var(--primary);
  font-weight: bold;
}

.options a {
  color: var(--primary);
}

header #menu-trigger:hover + .meniu-coborator,
.meniu-coborator:hover {
  display: block;
  position: absolute;
  top: 0;
}

/* #endregion */

/* #region Main Image */

.main-image {
  background-size: cover;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../media/home-official.jpg);
  height: 550px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.main-image {
  display: flex;
  color: #ffffff;
}

.main-image .title {
  font-weight: 900;
  font-size: 60px;
}

.main-image .subtitle {
  font-size: 30px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .main-image .title {
    font-size: 100px;
  }
}

/* #endregion */

/* #region Serving options */
.serving {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.option {
  background-size: cover;
  position: relative;
  border-radius: var(--radius);
  height: 256px;
  width: 417px;
  left: 0px;
  cursor: pointer;
  transition: var(--transition);
}
.option:hover {
  opacity: 0.8;
}

.option .text {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 37.98%;
  bottom: 37.5%;
  font-weight: 600;
  font-size: 65px;
  line-height: 68px;
  text-align: center;
  color: #ffffff;
}

.serve-in {
  background-image: linear-gradient(to top, rgba(200, 200, 200, 0.1), rgba(200, 200, 200, 0.1)), url(../media/serve-in.jpg);
}

.take-out {
  background-image: linear-gradient(to top, rgba(200, 200, 200, 0.1), rgba(200, 200, 200, 0.1)), url(../media/take-out.jpg);
}

@media (min-width: 1200px) {
  .serving {
    justify-content: space-between;
  }

  .option {
    height: 300px;
    width: 477px;
  }
}

/* #endregion */

/* #region Consumer Favorites */

.page-title,
.favorites .title {
  color: var(--primary);
  font-weight: 900;
  font-size: 35px;
  line-height: 55px;
  letter-spacing: 20px;
  padding-bottom: 100px;
  text-align: center;
}

.favorites .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.favorites .card {
  align-items: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  min-width: 300px;
  height: 400px;
  transition: var(--transition);
  border-radius: var(--radius);
}

.favorites .card:hover {
  opacity: 0.8;
}

.favorites .card .description {
  font-size: 22px;
}

.picture {
  width: 100%;
  height: inherit;
  background-size: cover;
  border-radius: var(--radius);
}

.tea-1 {
  background-image: url('../media/cana-sticla-ceai.jpg');
}

.tea-2 {
  background-image: url('../media/iced-tea.jpg');
}

.tea-3 {
  background-image: url('../media/filtru-ceai.jpg');
}

@media (min-width: 768px) {
  .favorites .cards {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .favorites .cards {
    flex-direction: row;
  }
}

/* #endregion */

/* #region Tea Menu */

.tea-menu .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--size-m);
  row-gap: var(--size-xl);
  /* background: rgba(23, 23, 55, 0.1); */
}

.tea-menu .card {
  display: flex;
  flex-direction: column;

  width: 280px;
  height: 350px;

  box-shadow: 0px 0px 1px 0px;

  transition: var(--transition);
}

.tea-menu .card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px;
}

.tea-menu .card .top_1 {
  background-image: url('../media/JasmineTea.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}

.tea-menu .card .top_2 {
  background-image: url('../media/Matcha.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}
.tea-menu .card .top_3 {
  background-image: url('../media/Sencha.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}

.tea-menu .card .top_4 {
  background-image: url('../media/Dragonwell.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}
.tea-menu .card .top_5 {
  background-image: url('../media/Gunpowder.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}
.tea-menu .card .top_6 {
  background-image: url('../media/Gyokuro.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}

.tea-menu .card .top_7 {
  background-image: url('../media/SilverNeedle.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}

.tea-menu .card .top_8 {
  background-image: url('../media/WhitePeony.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}
.tea-menu .card .top_9 {
  background-image: url('../media/ShouMei.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}
.tea-menu .card .top_10 {
  background-image: url('../media/DarjeelingWhite.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}
.tea-menu .card .top_11 {
  background-image: url('../media/CeylonWhite.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}
.tea-menu .card .top_12 {
  background-image: url('../media/AfricanWhite.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}

.tea-menu .card .top_13 {
  background-image: url('../media/Assam.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}

.tea-menu .card .top_14 {
  background-image: url('../media/Darjeeling.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}

.tea-menu .card .top_15 {
  background-image: url('../media/EarlGrey.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}

.tea-menu .card .top_16 {
  background-image: url('../media/Nimbu.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}

.tea-menu .card .top_17 {
  background-image: url('../media/Keemun.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}

.tea-menu .card .top_18 {
  background-image: url('../media/Pu-Erh.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  max-height: 200px;

  padding: var(--size-m);
}


.tea-menu .card .bottom {
  padding: var(--size-l);
  color: black;
}

.tea-menu .card .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.tea-menu .card .actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--size-s);
}

.tea-menu .card .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.tea-menu .card .text {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  margin-bottom: var(--size-s);
}

.tea-menu .card .description {
  font-size: 13px;
  margin-bottom: var(--size-s);
}

.tea-menu .page-title .subtitle{
  font-size: x-small;
}

.tea-menu .card .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tea-menu .card .rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-s);
}

.tea-menu .card .stars {
  font-size: 25px;
}

.tea-menu .card .score,
.tea-menu .card .price {
  font-size: 16px;
  font-weight: bold;
}

.tea-menu .card .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tea-menu .card .btn__icon {
  font-size: 22px;

  width: 46px;
  height: 46px;

  border-radius: 100%;
  background: var(--light);
  transition: var(--transition);
}
.tea-menu .card .btn__icon:hover {
  background: white;
}

/* #endregion */
