@font-face {
     color: #17391b;
    font-family: "Poppins";
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2);
  }

  * {
    font-family: "Poppins";
    font-style: normal;
  }

  h5 {
    font-family: "Poppins";
    font-style: normal;
  }
  
  .headers {
    background: rgba(0, 0, 0, 0.05);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    height: 61px;
    background: rgba(255, 255, 255, 0.8);
  }
  
  .header--transparent {
    background: rgba(0, 0, 0, 0.01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    height: 61px;
  }
  
  .header__menu__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
  
    border-radius: 100%;
    cursor: pointer;
    transition: 0.25s;
  }
  
  .header__search__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
  
    border-radius: 100%;
    cursor: pointer;
    transition: 0.25s;
  }
  
  .header__cart__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
  
    border-radius: 100%;
    cursor: pointer;
    transition: 0.25s;
  }
  
  .header__search__icon:hover {
    background: rgba(0, 0, 0, 0.25);
  }
  
  .header__cart__icon:hover {
    background: rgba(0, 0, 0, 0.25);
  }
  
  .header__menu__icon:hover {
    background: rgba(0, 0, 0, 0.25);
  }
  
  .header__logo h5 {
    padding: 0;
    margin: 0;
    line-height: 38px;
    font-weight: 600;
    font-size: 25px;
    color: #17391b;
  }
  
  .header__actions {
    display: flex;
  }
  
  .menu_header_page{
    background:#F8FEF0;
    

  }

.menu_header_page h1 {
    margin: 0 auto;
    text-align: center;
    width: 131px; 
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    color: #17391b;
}

.start_menu {
    background:#AAC497;
    height: 2500px;
    width: 1500px;
    left: 1253px;
    right: 1253px;
    top: -219px;

}


.photo {
    max-width: 31.333%;
    padding: 0 90px;
    height: 240px;
}

.photo img {
   width: 120%;
    height: 107%;
    border-radius: 15px;
}

.images1 {
  display: flex;
  flex-wrap: wrap;
  margin: 50 400px;
  padding: 30px;

}

.images2 {
    display: flex;
    flex-wrap: wrap;
    margin: 50 400px;
    padding: 30px;
}

.images3 {
    display: flex;
    flex-wrap: wrap;
    margin: 50 400px;
    padding: 30px;
}

.images4 {
  display: flex;
  flex-wrap: wrap;
  margin: 50 400px;
  padding: 30px;
}

.images5 {
  display: flex;
  flex-wrap: wrap;
  margin: 50 400px;
  padding: 30px;
}

.images6 {
  display: flex;
  flex-wrap: wrap;
  margin: 50 400px;
  padding: 30px;
}

.text-image1 {
   position: absolute; 
   top: 300px; 
   max-width: 20%;
   padding-left: 1%;
   margin-left: 1%;
   max-height: 14%;
   background: #a1a39f5c;
   border-radius: 15px;
  }

  .name_tea1 h2 {
    font-family: "Poppins";
    font-style: normal;
    font-size: medium;
    color: white;
    margin-top: 2%;
  }

  .info_tea1 p{
    margin-top: -15px;
    font-family: "Poppins";
    font-style: normal;
    color: #F8FEF0;

  }

  .price_tea1 p{
    margin-top: -40px;
    margin-left: 80%;
    color: white;
    font-weight: bold;

  }

  .header__cart__icon_image1{
    color: white;
    margin-top: -200px;
    margin-left: 90%;

  }



  .text-image2 {
    position: absolute; 
    top: 600px; 
    width: 20%;
    padding-left: 1%;
    margin-left: 1%;
    height: 14%;
    background: #a1a39f5c;
    border-radius: 15px;
   }

  .name_tea2 h2 {
    font-family: "Poppins";
    font-style: normal;
    font-size: medium;
    color: white;
    margin-top: 2%;
  }

  .info_tea2 p{
    margin-top: -15px;
    font-family: "Poppins";
    font-style: normal;
    color: #F8FEF0;

  }

  .price_tea2 p{
    margin-top: -40px;
    margin-left: 80%;
    color: white;
    font-weight: bold;

  }

  .text-image3 {
    position: absolute; 
    top: 900px; 
    width: 20%;
    padding-left: 1%;
    margin-left: 1%;
    height: 14%;
    background: #a1a39f5c;
    border-radius: 15px;
   }

  .name_tea3 h2 {
    font-family: "Poppins";
    font-style: normal;
    font-size: medium;
    color: white;
    margin-top: 2%;
  }

  .info_tea3 p{
    margin-top: -15px;
    font-family: "Poppins";
    font-style: normal;
    color: #F8FEF0;

  }

  .price_tea3 p{
    margin-top: -40px;
    margin-left: 80%;
    color: white;
    font-weight: bold;

  }

  .text-image4 {
    position: absolute; 
    top: 1200px; 
    width: 20%;
    padding-left: 1%;
    margin-left: 1%;
    height: 14%;
    background: #a1a39f5c;
    border-radius: 15px;
   }

  .name_tea4 h2 {
    font-family: "Poppins";
    font-style: normal;
    font-size: medium;
    color: white;
    margin-top: 2%;
  }

  .info_tea4 p{
    margin-top: -15px;
    font-family: "Poppins";
    font-style: normal;
    color: #F8FEF0;

  }

  .price_tea4 p{
    margin-top: -40px;
    margin-left: 80%;
    color: white;
    font-weight: bold;

  }

  .text-image5 {
    position: absolute; 
    top: 1500px; 
    width: 20%;
    padding-left: 1%;
    margin-left: 1%;
    height: 14%;
    background: #a1a39f5c;
    border-radius: 15px;
   }

  .name_tea5 h2 {
    font-family: "Poppins";
    font-style: normal;
    font-size: medium;
    color: white;
    margin-top: 2%;
  }

  .info_tea5 p{
    margin-top: -15px;
    font-family: "Poppins";
    font-style: normal;
    color: #F8FEF0;

  }

  .price_tea5 p{
    margin-top: -40px;
    margin-left: 80%;
    color: white;
    font-weight: bold;

  }

  .text-image6 {
    position: absolute; 
    top: 1800px; 
    width: 20%;
    padding-left: 1%;
    margin-left: 1%;
    height: 14%;
    background: #a1a39f5c;
    border-radius: 15px;
   }

  .name_tea6 h2 {
    font-family: "Poppins";
    font-style: normal;
    font-size: medium;
    color: white;
    margin-top: 2%;
  }

  .info_tea6 p{
    margin-top: -15px;
    font-family: "Poppins";
    font-style: normal;
    color: #F8FEF0;

  }

  .price_tea6 p{
    margin-top: -40px;
    margin-left: 80%;
    color: white;
    font-weight: bold;

  }

  .header__cart__icon_image1:hover {
    background: rgba(216, 215, 215, 0.25);
  }

  .header__cart__icon_image1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 30px;
  
    border-radius: 100%;
    cursor: pointer;
    transition: 0.25s;
    background: aliceblue;
  }