:root {
    --white: #f8fef0;
    --primary: #17391b;
    --secondary: #aac49766;
    --grey: #d8d8d8;
    --transition: 0.15s;
    --border-radius: 15px;
    --border-radius-m: 25px;
    --error: #f33737;
    --success: #51ad44;
    --light-blue: #036ed3;
    --dark-blue: #0e4980;
  }
  
  .modal {
    height: 350px;
    width: 350px;
    padding: 10px;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
  }
  
  .modal-section {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 4px;
    padding-bottom: 6px;
  }
  
  
  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .options-confirm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .option input[type="radio"] {
    background: yellow;
    border: 1px solid green;
    padding: 2px 10px;
  }
  
  .options label + input[type="radio"]:checked {
    background: pink;
  }
  
  .options label {
    background: red;
    border: 1px solid green;
    padding: 2px 10px;
  }
  
  
  label {
    width: 90px;
    color: var(--primary);
    background-color: var(--white);
    padding: 7px 18px;
    font-size: 14px;
    border-radius: 25px;
    border: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
  }
  
  input [type=radio]:checked + label {
    background: green;
    font-style: italic;
  }
  
  .container {
    display: flex;
    width: 1000px;
    height: 1000px;
    background-color: gray;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  
  .item {
    color: var(--primary);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
  }
  
  
  
  .cancel {
    width: 90px;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 7px 18px;
    font-size: 14px;
    border-radius: 25px;
    border: none;
    text-align: center;
  }
  
  .confirm {
    width: 90px;
    background-color: var(--success);
    color: var(--primary);
    padding: 7px 18px;
    font-size: 14px;
    border-radius: 25px;
    border: none;
    text-align: center;
  }
  