@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
p,h3{
  font-family: 'Poppins', sans-serif;
  font-size: larger;
  text-align: left;
}

h1 {
	text-align: center;
   font-size: 36px;
}

table {
	border-collapse: collapse;
	margin: 20px auto;
    width: 70%;
    background-color:#aac497;
    border-color: #17391B;
 
}

table th,
table td {
    padding: 5px 15px;
	text-align: center;
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
}
.item {
   
    background-color:  transparent;
    border-radius: 10px;
    text-align: left;
    padding: 5px;
}
table th {
	background-color: transparent;
    
}

table td:last-child,
table tfoot td:last-child {
	text-align: center;  
}
table tfoot{
    font-size: 20px;
    width: 200px;
}

button {
	display: block;
	margin: 20px auto;
	padding: 10px;
	background-color: #17391B;
	color: #17391B;
	border: none;
	border-radius: 10px;
	font-size: 18px;
	cursor: pointer;
}




.pay-button, 
.home-button,
.menu-button,
.receipt-button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #2d5432;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    width: 200px;
    text-decoration: none;
}

.pay-button:hover,
.home-button:hover,
.menu-button:hover,
.receipt-button:hover {
    background-color: #17391B;
    align-self: center;
}
 

.success-table {
    margin: 50px auto;
    width: 70%;
    background-color: #708c5a;
    border-collapse: collapse;
  
}

.success-table td {
    padding: 20px;
    font-size: 24px;
    border-radius: 10px;
}
.success-table thead{
    border-radius: 10px;
}


