html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--white);
}

ul {
  list-style: none;
}

p,
div,
h5 {
  font-family: 'Poppins';
  font-style: normal;
}

/* #region Footer */

.footer {
  background: #d8d8d8;
  display: flex;
}

.footer__content {
  background: #d8d8d8;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--primary);
}

.footer__content .section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
}

.footer__content .section .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__content .section .logo .text {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;

  color: #17391b;
}

.footer__content .section .title {
  text-transform: uppercase;
  text-align: center;
}

.footer__content .section:not(:last-child) {
  border-right: 1px solid #c4c4c4;
}

/* #endregion */

/* #region Home Header */
.home__header {
  background-color: rgba(67, 67, 67, 0.64);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  height: 61px;
}

.home__header--transparent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  height: 61px;
}

.home__header__menu__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;

  border-radius: 100%;
  cursor: pointer;
  transition: 0.25s;
  color: white;
}

.home__header__search__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;

  border-radius: 100%;
  cursor: pointer;
  transition: 0.25s;
}

.home__header__cart__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;

  border-radius: 100%;
  cursor: pointer;
  transition: 0.25s;
}

.home__header__search__icon:hover {
  background: rgba(255, 255, 255, 0.5);
}

.home__header__cart__icon:hover {
  background: rgba(255, 255, 255, 0.5);
}

.home__header__menu__icon:hover {
  background: rgba(255, 255, 255, 0.5);
}

.home__header__logo h5 {
  padding: 0;
  margin: 0;
  line-height: 38px;
  font-weight: 600;
  font-size: 25px;
  color: white;
}

.home__header__actions {
  display: flex;
}

.home__background {
  background-size: cover;
  background-image: url('../media/home.jpg');
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../media/home.jpg);
  height: 550px;
  overflow: hidden;
}

.head__text__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__background .home__text__label__first {
  position: absolute;
  width: 811px;
  height: 91.23px;
  font-weight: 600;
  font-size: 120px;
  line-height: 180px;

  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home__background .home__text__label__second {
  top: 20%;
  position: absolute;
  font-size: 30px;
  font-weight: 300;
  line-height: 41px;
  letter-spacing: 0em;

  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* #endregion */

/* #region Default Header*/
.headers {
  background: rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  height: 61px;
  background: rgba(255, 255, 255, 0.8);
}

.header--transparent {
  background: rgba(0, 0, 0, 0.01);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  height: 61px;
}

.header__menu__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;

  border-radius: 100%;
  cursor: pointer;
  transition: 0.25s;
}

.header__search__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;

  border-radius: 100%;
  cursor: pointer;
  transition: 0.25s;
}

.header__cart__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;

  border-radius: 100%;
  cursor: pointer;
  transition: 0.25s;
}

.header__search__icon:hover {
  background: rgba(0, 0, 0, 0.25);
}

.header__cart__icon:hover {
  background: rgba(0, 0, 0, 0.25);
}

.header__menu__icon:hover {
  background: rgba(0, 0, 0, 0.25);
}

.header__logo h5 {
  padding: 0;
  margin: 0;
  line-height: 38px;
  font-weight: 600;
  font-size: 25px;
  color: #17391b;
}

.header__actions {
  display: flex;
}
/* #endregion */

/* #region Serving options */
.serving {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.serve__in .serve__in__image {
  background-size: cover;
  background-image: url('../media/coffee-cup-coffee-shop.jpg');
  position: relative;
  opacity: 0.8;
  border-radius: 10px;
  height: 306px;
  width: 567px;
  left: 0px;
}

.take__out .take__out__image {
  background-size: cover;
  background-image: url('../media/young-woman-sweater-with-cup-coffee-nature.jpg');
  position: relative;
  opacity: 0.8;
  border-radius: 10px;
  height: 306px;
  width: 567px;
}

.serve__in .serve__in__image .text {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 37.98%;
  font-weight: 600;
  font-size: 65px;
  line-height: 68px;
  text-align: center;
  color: #ffffff;
}

.take__out .take__out__image .text {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 37.98%;
  bottom: 37.5%;
  font-weight: 600;
  font-size: 65px;
  line-height: 68px;
  text-align: center;
  color: #ffffff;
}

/* #endregion */

.empty {
  height: 60px;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__content {
  display: flex;
  flex-direction: column;
}

.footer__content .section {
  width: 100%;
}

@media (min-width: 568px) {
  .container {
    width: 500px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 700px;
  }

  .footer__content {
    flex-direction: row;
  }

  .footer__content .section {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }
}
