.table rect,
.table circle {
    cursor: pointer;
    transition: fill 0.3s ease;
}

.table rect:hover,
.table circle:hover {
    fill: #8119c1;
}

.table rect:active,
.table circle:active {
    fill: #c11919;
}

.table-container1,
.table-container2,
.table-container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
@media screen and (max-width: 768px) {
    table {
      font-size: 14px;
      margin-bottom: 10px;
    }
    
    table th, table td {
      padding: 3px;
    }
    
    table th:nth-child(1),
    table td:nth-child(1) {
      display: none;
    }
  }

  @media screen and (max-width: 850px) {
    .table-container1,
    .table-container2,
    .table-container3 {   
      display: flex;
      flex-wrap:nowrap;
      justify-content: flex-start;
    }
   
  }
  